### ANOVA on plant dataset

In [1]:
import pandas as pd
from scipy import stats 

#the attributes are independent

In [2]:
data = pd.read_csv("PlantGrowth.csv")

In [3]:
data

    Unnamed: 0  weight group
0            1    4.17  ctrl
1            2    5.58  ctrl
2            3    5.18  ctrl
3            4    6.11  ctrl
4            5    4.50  ctrl
5            6    4.61  ctrl
6            7    5.17  ctrl
7            8    4.53  ctrl
8            9    5.33  ctrl
9           10    5.14  ctrl
10          11    4.81  trt1
11          12    4.17  trt1
12          13    4.41  trt1
13          14    3.59  trt1
14          15    5.87  trt1
15          16    3.83  trt1
16          17    6.03  trt1
17          18    4.89  trt1
18          19    4.32  trt1
19          20    4.69  trt1
20          21    6.31  trt2
21          22    5.12  trt2
22          23    5.54  trt2
23          24    5.50  trt2
24          25    5.37  trt2
25          26    5.29  trt2
26          27    4.92  trt2
27          28    6.15  trt2
28          29    5.80  trt2
29          30    5.26  trt2

In [4]:
data.describe()

       Unnamed: 0     weight
count   30.000000  30.000000
mean    15.500000   5.073000
std      8.803408   0.701192
min      1.000000   3.590000
25%      8.250000   4.550000
50%     15.500000   5.155000
75%     22.750000   5.530000
max     30.000000   6.310000

In [5]:
#use anova over t-test
data = data[['weight', 'group']]
data

    weight group
0     4.17  ctrl
1     5.58  ctrl
2     5.18  ctrl
3     6.11  ctrl
4     4.50  ctrl
5     4.61  ctrl
6     5.17  ctrl
7     4.53  ctrl
8     5.33  ctrl
9     5.14  ctrl
10    4.81  trt1
11    4.17  trt1
12    4.41  trt1
13    3.59  trt1
14    5.87  trt1
15    3.83  trt1
16    6.03  trt1
17    4.89  trt1
18    4.32  trt1
19    4.69  trt1
20    6.31  trt2
21    5.12  trt2
22    5.54  trt2
23    5.50  trt2
24    5.37  trt2
25    5.29  trt2
26    4.92  trt2
27    6.15  trt2
28    5.80  trt2
29    5.26  trt2

In [6]:
grps = pd.unique(data.group.values)
grps

array(['ctrl', 'trt1', 'trt2'], dtype=object)

In [7]:
d_data = {grp:data['weight'][data.group == grp] for grp in grps}

In [8]:
d_data['trt2']

20    6.31
21    5.12
22    5.54
23    5.50
24    5.37
25    5.29
26    4.92
27    6.15
28    5.80
29    5.26
Name: weight, dtype: float64

In [9]:
from scipy import stats

F, p = stats.f_oneway(d_data['ctrl'], d_data['trt1'], d_data['trt2'])

In [10]:
p

0.0159099583256229

In [11]:
F

4.846087862380136

In [12]:
if p<0.05:
    print("reject null hypothesis")
else:
    print("do not reject null hpothesis")

reject null hypothesis

Conclusion: they are not similar

## Pearsonr

In [13]:
data1 = [0, 7, 6, 2, 3, 3, 3, 4, 3, 0]
data2 = [3, 7, 6, 4, 3, 4, 5, 4, 1, 0]

from scipy.stats import  pearsonr
stat2, p2 = pearsonr(data1, data2)

In [14]:
p2

0.007172878616677516

In [15]:
stat2

0.7847817168741402

In [16]:
if p2<0.05:
    print("reject null hypothesis")
else:
    print("do not reject null hpothesis")

reject null hypothesis

## Spearmanr

In [17]:
data1 = [0, 7, 6, 2, 3, 3, 3, 4, 3, 0]
data2 = [3, 7, 6, 4, 3, 4, 5, 4, 1, 0]

from scipy.stats import  spearmanr
stat3, p3 = spearmanr(data1, data2)

In [18]:
p3

0.013348482506377537

In [19]:
stat3

0.7453590174775273

In [20]:
if p3 < 0.05:
    print("reject null hypothesis")
else:
    print("do not reject null hpothesis")

reject null hypothesis