# Chi Square Test

### 1st sum

In [1]:
import numpy as np
import scipy.stats as stats

In [2]:
observed = [102, 178, 186, 34]
expected = [156, 165.5, 147, 31.5]

In [3]:
chis, pval = stats.chisquare(observed, expected)

In [4]:
chis

30.1817679275599

In [5]:
f'{pval:20f}'

'            0.000001'

In [6]:
pval

1.26374310311106e-06

### 2nd sum

In [7]:
from scipy.stats import chi2_contingency
import pandas as pd
import numpy as np

In [8]:
website = pd.DataFrame(
    [
        [134, 54],
        [110, 48]
    ],
    index = ["Website A", "Website B"],
    columns = ["Did not sign up", "Signed up"])
website

           Did not sign up  Signed up
Website A              134         54
Website B              110         48

In [9]:
chi2_contingency(website)

(0.04762692369491045,
 0.8272452870442226,
 1,
 array([[132.57803468,  55.42196532],
        [111.42196532,  46.57803468]]))

In [10]:
df = chi2_contingency(website)[3]
pd.DataFrame(
    data = df[:,:], 
    index = ["Website A", "Website B"],
    columns = ["Did not sign up", "Signed up"]
).round(2)

           Did not sign up  Signed up
Website A           132.58      55.42
Website B           111.42      46.58

In [11]:
chisquare = chi2_contingency(website)[0]
chisquare

0.04762692369491045

In [12]:
pvalue = chi2_contingency(website)[1]
pvalue

0.8272452870442226

In [13]:
dof = chi2_contingency(website)[2]
dof

1