### Z - test using blood pressure dataset

In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv("blood_pressure.csv")

In [3]:
data

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [4]:
data.describe()

          patient   bp_before    bp_after
count  120.000000  120.000000  120.000000
mean    60.500000  156.450000  151.358333
std     34.785054   11.389845   14.177622
min      1.000000  138.000000  125.000000
25%     30.750000  147.000000  140.750000
50%     60.500000  154.500000  149.500000
75%     90.250000  164.000000  161.000000
max    120.000000  185.000000  185.000000

In [5]:
from statsmodels.stats import weightstats as stests

In [6]:
zval, pval = stests.ztest(data['bp_before'], value=170)
print("P-value:", float(pval))
if(pval<0.05):
    print("Reject null hypthesis")
else:
    print("Do not reject null hypthesis")

P-value: 8.043776972189054e-39
Reject null hypthesis

In [7]:
zval, pval = stests.ztest(data['bp_before'], data['bp_after'])
print("P-value:", float(pval))
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Do not reject null hpothesis")

P-value: 0.002162306611369422
Reject null hypothesis